# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform local configuration
.terraform/
terraform.tfvars
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate


# Lambda build artifacts
lambda/*.zip